*{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {
	background-image: url(../images/59492.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-position: 0 0;
}

.container {
	width: 300px;
	margin: 200px auto;
}

h1 {
	text-transform: uppercase;
	font-size: 18px;
	background-color: rgba(255,255,255,0.8);
	padding: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-weight: 300;
	border-radius: 5px 5px 0 0;
}

form {
	background-color: rgba(255,255,255,0.8);
	padding: 25px;
	border-radius: 0 0 5px 5px;
}

form label {
	font-size: 14px;
}

form p {
	display: none;
	color: red;
	margin-bottom: 20px;
	font-size: 13px;
}

form input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 100%;
	border: 1px solid grey;
	border-radius: 4px;
}

form input:not([type="checkbox"]):invalid {
	border-color: red;
	background-image: url(../images/times-solid.png);
    background-repeat: no-repeat;
    -webkit-background-size: 12px;
    background-size: 14px;
    background-position: right 10px top 50%;
}

form input:not([type="checkbox"]):invalid + p {
	display: block;
}

form input[name="username"] + p::before {
	content: "Plese enter correct username";
	color: red;
	margin-bottom: 20px;
	font-size: 13px;
}

form input[name="password"] + p::before {
	content: "Please enter password";
	color: red;
	margin-bottom: 20px;
	font-size: 13px;
}

form input[type="checkbox"] {
	margin-right: 5px;
	width: 15px;
	margin-bottom: 15px;
}

form button {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #17A2B8;
	color: #fff;
	border: none;
	border-radius: 4px;
}

form a {
	text-decoration: none;
	color: #17A2B8;
	font-size: 12px;
}

form a:hover {
	text-decoration: underline;
}